@font-face {
    font-family: "roboto mono";
    src: url(/fonts/Roboto_Mono/RobotoMono-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "roboto mono";
    src: url(/fonts/Roboto_Mono/RobotoMono-Bold.ttf);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #78c3e3;
    color: #ffffff;
    padding: 15px 30px 15px 30px;
}

.header-topo {
    display: flex;
    align-items: center;
    gap: 30px;
}

header h1 {
    font-size: 30px;
    font-family: "roboto mono", monospace;
    color: #484848;
}

header h2 {
    margin-top: 8px;
    font-size: 13px;
    font-family: "roboto mono", monospace;
    color: #ffffff;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #78c3e3;
    padding: 10px;
    border-radius: 5px;
    list-style: none;
}